
$snap-width:600px;
$snap-width-micro:300px;

body{
  font-size:100%;
  @media screen and (max-width:$snap-width){
    font-size:70%;
  }
  @media screen and (max-width:$snap-width-micro){
    font-size:50%;
  }
}

p,h1,h2,h3,h4,h5,h6{
  font-family:'Roboto',sans-serif;
  font-style:normal;
  font-weight:400;
  padding:0;
  margin:0;
  line-height:1em;
}

.typo{
  &-lead{
    &-h{
      font-size:3.75em;
      line-height:1.1em;
      color:#212121;
      @media screen and (max-width:$snap-width){
        font-size:3.55em;
      }
      &.space{
        &-lead-p{
          margin-bottom:0.4em;
        }
        &-page-p{
          margin-bottom:1.1em;
        }
      }
    }
    &-p{
      font-size:1.25em;
      line-height:1.5em;
      color:#616161;
      @media screen and (max-width:$snap-width){
        font-size:1.6em;
      }
    }
  }
  &-main{
    &-h{
      font-size:2em;
      line-height:1em;
      color:#212121;
      &.space{
        &-page-p{
          margin-bottom:0.8em;
        }
      }
    }
  }
  &-page{
    &-h{
      font-size:1.25em;
      line-height:1.2em;
      color:#212121;
      @media screen and (max-width:$snap-width){
        font-size:1.8em;
      }
      @media screen and (max-width:$snap-width-micro){
        font-size:2.0em;
      }
      &.space{
        &-page-p{
          margin-bottom:0.5em;
        }
      }
    }
    &-p{
      font-size:1em;
      line-height:1.5em;
      color:#616161;
      @media screen and (max-width:$snap-width){
        font-size:16px;
      }
      @media screen and (max-width:$snap-width-micro){
        font-size:14px;
      }
      &.space{
        &-page-p{
          margin-bottom:1em;
        }
      }
    }
  }
}






