<div fxLayout="row" [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     *ngIf="comments.length > 2" (window:scroll)="checkScroll()" fxLayoutAlign="center">
  <input tabindex="-1" (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" #searchBox
         id="searchBox" [ngClass]="{'search-input-hidden': !search, 'search-input': search }"
         (input)="searchComments()" [(ngModel)]="searchInput" [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description">
  <button id="search-close-button" mat-icon-button class="searchBarButton close" *ngIf="searchInput !== '' || search"
          (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = '';"
          aria-labelledby="close_search">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar" fxLayoutAlign="center center">
    <div *ngIf="comments && comments.length > 0">
      <h3 class="counter" *ngIf="!hideCommentsList">{{comments.length}}</h3>
      <h3 class="counter-filtered" *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button id="search-button" mat-icon-button class="searchBarButton" (click)="activateSearch(); filterComments('')"
            *ngIf="!search && comments && comments.length > 0" aria-labelledby="search-list"
            matTooltip="{{ 'comment-list.filter-search' | translate }}">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button" mat-icon-button class="searchBarButton" aria-labelledby="sort-list"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="sortMenu" matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button id="filter-button" mat-icon-button class="searchBarButton" aria-labelledby="filter-list"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="filterMenu" matTooltip="{{ 'comment-list.filter-comments' | translate }}">
      <mat-icon class="searchBarIcon">filter_list</mat-icon>
    </button>

    <button id="pause-button" mat-fab aria-labelledby="pause" class="freezeButton"
            *ngIf="!searchBox.value && !search && !freeze" (click)="pauseCommentStream()"
            matTooltip="{{ 'comment-list.pause-comments' | translate }}">
      <mat-icon class="freezeIcon">pause</mat-icon>
    </button>

    <button id="start-button" mat-fab aria-labelledby="play" class="freezeButton"
            *ngIf="!searchBox.value && !search && freeze" (click)="playCommentStream()"
            matTooltip="{{ 'comment-list.play-comments' | translate }}">
      <mat-icon class="freezeIcon">play_arrow</mat-icon>
    </button>

    <button mat-fab class="freezeButton" aria-labelledby="switch-to-list"
            *ngIf="!searchBox.value && !search && userRole === 2 && deviceType === 'desktop'"
            (click)="switchToModerationList()" matTooltip="{{ 'comment-list.switch-to-moderation-list' | translate }}">
      <mat-icon class="freezeIcon">thumb_down_alt</mat-icon>
    </button>

    <button id="add-comment-small-button" mat-fab aria-labelledby="add" class="actionButton"
            *ngIf="!searchBox.value && !search" (click)="openCreateDialog()"
            matTooltip="{{ 'comment-list.add-comment' | translate }}">
      <mat-icon class="actionIcon">add</mat-icon>
    </button>
  </div>

  <mat-menu #sortMenu="matMenu" xPosition="before">

    <button mat-menu-item *ngIf="isSafari === false"
            (click)="sortComments(time)" aria-labelledby="sort-time">
      <mat-icon [ngClass]="{time: 'unread-icon'}[currentSort]">access_time</mat-icon>
      <span>{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item (click)="sortComments(votedesc)" aria-labelledby="sort-up">
      <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
      <span>{{ 'comment-list.sort-vote-asc' | translate }}</span>
    </button>

    <button mat-menu-item (click)="sortComments(voteasc)" aria-labelledby="sort-down">
      <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
      <span>{{ 'comment-list.sort-vote-desc' | translate }}</span>
    </button>

  </mat-menu>

  <mat-menu #filterMenu="matMenu" xPosition="before">
    <div>
      <button mat-menu-item (click)="filterComments(read)" aria-labelledby="beamer_icon">
        <mat-icon svgIcon="beamer" [ngClass]="{read: 'beamer-icon'}[currentFilter]"></mat-icon>
        <span>{{ 'comment-list.filter-read' | translate }}</span>
      </button>

      <button mat-menu-item (click)="filterComments(favorite)" aria-labelledby="grade">
        <mat-icon [ngClass]="{favorite: 'favorite-icon'}[currentFilter]">grade</mat-icon>
        <span>{{ 'comment-list.filter-favorite' | translate }}</span>
      </button>

      <button mat-menu-item (click)="filterComments(correct)" aria-labelledby="check_circle">
        <mat-icon [ngClass]="{correct: 'correct-icon'}[currentFilter]">check_circle</mat-icon>
        <span>{{ 'comment-list.filter-correct' | translate }}</span>
      </button>

      <button mat-menu-item (focus)="hideCommentsList=true" (click)="filterComments(wrong)"
              aria-labelledby="not_interested">
        <mat-icon [ngClass]="{wrong: 'wrong-icon'}[currentFilter]">not_interested</mat-icon>
        <span>{{ 'comment-list.filter-wrong' | translate }}</span>
      </button>

      <button mat-menu-item (focus)="hideCommentsList=true" (click)="filterComments(answer)"
              aria-labelledby="comment">
        <mat-icon [ngClass]="{answer: 'answered-icon'}[currentFilter]">comment</mat-icon>
        <span>{{ 'comment-list.filter-answered' | translate }}</span>
      </button>

      <button mat-menu-item (focus)="hideCommentsList=false" (click)="sortComments(currentSort); filterComments('')"
              aria-labelledby="close">
        <mat-icon>close</mat-icon>
        <span>{{ 'comment-list.filter-reset' | translate }}</span>
      </button>
    </div>
  </mat-menu>
</div>

<div *ngIf="scroll" class="search-bar-placeholder"></div>

<div *ngIf="isLoading" class="loading" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center">
    <app-loading-indicator [size]="100"></app-loading-indicator>
  </div>
</div>

<button mat-icon-button class="button-primary scrollTop" [ngClass]="{'visible': scrollExtended}" tabindex="-1"
        (click)="scrollTop()">
  <mat-icon>arrow_upward</mat-icon>
</button>

<div fxLayout="row" fxLayoutAlign="center" *ngIf="comments.length < 3 && !isLoading">
  <button id="add-comment-button" mat-raised-button class="button-primary fab-extended" (click)="openCreateDialog()"
          aria-labelledby="add">
    <mat-icon class="add">add</mat-icon>
    {{'comment-list.add-comment' | translate}}
  </button>
</div>

<div *ngIf="!isLoading">
  <app-comment *ngFor="let current of hideCommentsList ? filteredComments : comments" [comment]="current"
               [parseVote]="getVote(current)" [userRole]="userRole" (clickedOnTag)="clickedOnTag($event)">
  </app-comment>
</div>

<div *ngIf="comments && comments.length < 1 && !isLoading" fxLayout="row" fxLayoutAlign="center center"
     class="no-comments">
  <p>{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div class="visually-hidden">
  <div id="search-box-input-description">{{ 'comment-page.search-box-input-description' | translate }}</div>
  <div id="search-list">{{'comment-list.a11y-search-list' | translate}}</div>
  <div id="sort-list">{{'comment-list.a11y-sort-list' | translate}}</div>
  <div id="sort-up">{{'comment-list.a11y-sort-up' | translate}}</div>
  <div id="sort-down">{{'comment-list.a11y-sort-down' | translate}}</div>
  <div id="sort-time">{{'comment-list.a11y-sort-time' | translate}}</div>
  <div id="filter-list">{{'comment-list.a11y-filter-list' | translate}}</div>
  <div id="check_circle">{{'comment-list.a11y-filter-correct' | translate}}</div>
  <div id="not_interested">{{'comment-list.a11y-filter-wrong' | translate}}</div>
  <div id="grade">{{'comment-list.a11y-filter-favorite' | translate}}</div>
  <div id="beamer_icon">{{'comment-list.a11y-filter-beamer' | translate}}</div>
  <div id="close">{{'comment-list.a11y-filter-close' | translate}}</div>
  <div id="add">{{'comment-list.a11y-add' | translate}}</div>
  <div id="pause">{{'comment-list.a11y-pause' | translate}}</div>
  <div id="play">{{'comment-list.a11y-play' | translate}}</div>
  <div id="close_search">{{'comment-list.a11y-close-search' | translate}}</div>
  <div id="new-comment">{{ 'comment-page.new-comment' | translate:{comment: newestComment} }}</div>
</div>
