<div class="loading" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center" class="loading-indicator-container">
    <mat-progress-spinner mode="indeterminate" diameter="{{size}}"></mat-progress-spinner>
  </div>
</div>
