<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center">
    <button id="live-announcer-button" tabIndex="-1" (click)="announce()"
            class="visually-hidden">{{ 'comment-page.a11y-message-moderation' | translate }}</button>
    <app-moderator-comment-list [user]="user" [roomId]="roomId"></app-moderator-comment-list>
  </div>
</div>

