.mat-toolbar {
  background-color: var(--surface);
  position: relative;
}

.header-icons {
  color: var(--on-surface);
}

.gavel {
  cursor: initial;
}

.bonus {
  color: var(--yellow);
}

.rooms {
  color: var(--secondary);
}

.mat-button {
  padding: 0;
}
