<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <button id="back-button" mat-icon-button aria-labelledby="back-label" *ngIf="router.url !== '/home'"
            (click)="goBack()"
            matTooltip="{{'header.back' | translate}}">
      <mat-icon class="header-icons">arrow_back</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="router.url.includes('comments') && user.role === 3 && deviceType === 'desktop'">
      {{cTime}}
    </h2>
    <span class="fill-remaining-space"
          *ngIf="router.url.includes('comments') && user.role === 3 && deviceType === 'desktop'"></span>
    <button mat-icon-button class="gavel" *ngIf="router.url.includes('comments') && user.role === 0 && moderationEnabled"
            #tt="matTooltip" matTooltip="{{ 'header.moderation-enabled' | translate }}" (click)="tt.toggle()">
      <mat-icon class="header-icons">gavel</mat-icon>
    </button>
    <h2 id="shortId-header" *ngIf="router.url.includes('comments') && user.role === 3 && deviceType === 'desktop'">
      {{'header.id' | translate}}: {{ shortId.slice(0, 4) }} {{  shortId.slice(4, 8) }}
    </h2>
    <span class="fill-remaining-space"></span>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngIf="user" routerLink="/user" tabindex="0">
        <mat-icon class="rooms">people</mat-icon>
        <span *ngIf="!user.isGuest">{{'header.my-rooms' | translate}}</span>
        <span *ngIf="user.isGuest">{{'header.visited-rooms' | translate}}</span>
      </button>
      <!-- <button mat-menu-item *ngIf="user" (click)="openUserBonusTokenDialog()" tabindex="0">
        <mat-icon class="bonus">grade</mat-icon>
        <span>{{'header.user-bonus-token' | translate}}</span>
      </button> -->
      <button mat-menu-item *ngIf="user && !user.isGuest" (click)="openDeleteUserDialog()" tabindex="0">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{'header.delete-account' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="router.url !== '/home'" routerLink="/home" tabindex="0">
        <mat-icon>home</mat-icon>
        <span>{{'header.go-to-home' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="isAdmin" routerLink="/admin" tabindex="0">
        <mat-icon>build</mat-icon>
        <span>{{'header.admin-area' | translate}}</span>
      </button>
      <button mat-menu-item (click)="logout()" tabindex="0">
        <mat-icon color="warn">exit_to_app</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>
    </mat-menu>

    <button mat-button *ngIf="user && deviceType === 'desktop'"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="room-label" id="room-button">
        <mat-icon class="header-icons">account_circle</mat-icon>
        <span class="button-text" *ngIf="!user.isGuest">{{'header.my-account' | translate}}</span>
        <span class="button-text" *ngIf="user.isGuest">{{'header.my-guest-account' | translate}}</span>
    </button>

    <button mat-icon-button *ngIf="user && deviceType === 'mobile'"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="room-label">
      <mat-icon class="header-icons">account_circle</mat-icon>
    </button>
    <div *ngIf="router.url !== '/login'">
      <button id="login-button" mat-button *ngIf="!user && deviceType === 'desktop'"
              (click)=navToLogin() aria-labelledby="login-label">
        <mat-icon class="header-icons">account_circle</mat-icon>
        <span class="button-text" *ngIf="deviceType === 'desktop'">{{'header.login' | translate}}</span>
      </button>

      <button mat-icon-button *ngIf="!user && deviceType === 'mobile'" (click)=navToLogin()
              aria-labelledby="login-label">
        <mat-icon class="header-icons">account_circle</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="visually-hidden">
  <div id="login-label">{{'header.a11y-login' | translate}}</div>
  <div id="back-label">{{'header.a11y-back' | translate}}</div>
  <div id="room-label">{{'header.a11y-room' | translate}}</div>
</div>
