form > button {
  margin: 20px 0;
}

.mat-card {
  margin: 20px 0;
  padding: 0 16px;
  background-color: var(--background) !important;
}

.mat-list {
  padding: 0;
  outline: none;
  background-color: var(--background);
}

.mat-list-item {
  height: auto;
  outline: none;
}
