.mat-card {
  width: 100%;
  min-height: 300px;
}

.mat-tab-group {
  width: calc(92vw - 32px);
  max-width: 800px;
}

::ng-deep .mat-tab-labels {
  justify-content: center;
}

.mat-icon {
  color: var(--on-surface);
  font-size: 30px;
  height: 30px;
  width: 30px;
}
