<div>
  <div tabindex="0" id="category-settings" class="visually-hidden">{{ 'settings.a11y-categories' | translate }}</div>
  <div>
    <mat-form-field class="input-block">
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
             matInput type="text" [(ngModel)]="tagName" [formControl]="tagFormControl" name="taginput"
             aria-labelledby="category"/>
      <mat-placeholder>{{ 'settings.tag-new' | translate }}</mat-placeholder>
      <mat-error *ngIf="!tagFormControl.valid">
        {{ 'settings.tag-error' | translate }}
      </mat-error>
    </mat-form-field>
    <div fxLayoutAlign="end">
      <button mat-raised-button class="button-primary" (click)="addTag()" [disabled]="tagName.length === 0"
              attr.aria-label="{{ 'settings.a11y-add-tag' | translate: { name: tagName } }}">
        {{ 'settings.add-tag' | translate }}</button>
    </div>
  </div>
  <div *ngIf="tagsEnabled === true && tags !== undefined && tags.length > 0">
    <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let tag of tags">
      <p>
        {{tag}}
      </p>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button class="close" (click)="deleteTag(tag)"
              attr.aria-label="{{ 'settings.a11y-remove-tag' | translate: { name: tag } }}">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="visually-hidden">
  <div id="category">{{ 'settings.a11y-enter-tag' | translate }}</div>
</div>
