.buttons {
  margin: 20px 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

.answer {
  opacity: 0.7;
}

.text {
  margin: 20px 0 0 0;
  color: var(--primary);
}

.invisible {
  height: 0;
  transform: scale(0);
  text-align: center;
}

.visible {
  height: 32px;
  transition: 0.5s;
  transform: scale(1);
}

.stat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: var(--secondary);
}

.mat-card {
  margin: 3% 1%;
  min-height: 240px;
}

.toggleSide {
  background-color: var(--surface);
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
