<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="35px">
  <h2>{{'dialog.delimiter' | translate}}</h2>
  <mat-radio-group [(ngModel)]="exportType">
    <div fxLayout="column">
      <mat-radio-button value="comma" checked><p>{{'dialog.comma' | translate}}</p></mat-radio-button>
      <mat-radio-button value="semicolon"><p>{{'dialog.semicolon' | translate}}</p></mat-radio-button>
    </div>
  </mat-radio-group>
</div>
<app-dialog-action-buttons
  buttonsLabelSection="dialog"
  confirmButtonLabel="export"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildExportActionCallback()"
></app-dialog-action-buttons>
