.mat-card {
  width: 100%;
  min-height: 250px;
}

.mat-card-content > :first-child {
  margin-top: 5%;
}

.mat-icon-button {
  width: 100%;
  height: 100%;
  color: var(--primary);
}

.main-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.desktop {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

.main-button {
  transition: all 150ms;
  &.mat-focus-indicator {
    border-radius: 0;
  }
}

.hover {
  &:hover {
    transform: scale(1.1)
  }
}

.button-text {
  padding: 0;
  margin: 3% 0;
}

.mat-card-header {
  margin: 5% 0;
}

.mat-card-title {
  word-break: break-all;
  font-size: calc(16px + 1vw) !important;
}

.mat-card-subtitle {
  margin: 0;
}

.room-short-id {
  opacity: 0.8;
  font-size: calc(16px + 0.5vw);
  color: var(--on-surface);
  margin-top: 4.5%;
}

.big-container {
  min-height: 180px;
}

.mat-grid-list {
  width: 100%;
  min-height: 140px;
  padding: 0 !important;
  margin: 4% 0;
}

.mat-grid-tile {
  height: 90%;
  padding: 2% !important;
  overflow: inherit;
}

.corner-icons {
  width: 40px;
  height: 40px;
}

#stat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.gavel {
  margin: 5% 2% 0 0;
  color: var(--on-surface);
}

.single-tile {
  width: calc(100% - 32px) !important;
}

.double-tile {
  width: calc(50% - 16px) !important;
}
