<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <button id="live-announcer-button" tabIndex="-1" (click)="announce()"
            class="visually-hidden">{{ 'room-page.a11y-room-message' | translate }}</button>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf=" !isLoading && room">
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title fxLayoutAlign="center">
            {{ room.name }}
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <span class="room-short-id">
              {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <markdown [data]="room.description.trim()"></markdown>
      </mat-card-content>
      <mat-grid-list cols="{{surveyEnabled ? 2 : 1}}" rowHeight="1:1" [ngClass]="{'big-container': deviceWidth >= 500, 'single-container': !surveyEnabled}">
        <mat-grid-tile [ngClass]="{'single-tile': !surveyEnabled, 'double-tile': surveyEnabled}">
          <button id="comments-button" mat-icon-button class="main-button"
                  [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                  routerLink="/participant/room/{{ room.shortId }}/comments" aria-labelledby="comments">
            <mat-icon matBadge="{{commentCounter}}" matBadgeColor="primary" class="main-icon"
                      [ngClass]="{'desktop' : deviceWidth > 500}">question_answer
            </mat-icon>
            <h3 *ngIf="deviceWidth >= 320" class="button-text">{{ 'room-page.comments' | translate}}</h3>
          </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="surveyEnabled" class="double-tile">
          <button id="live-survey-button" mat-icon-button class="main-button" aria-labelledby="live-survey"
                  [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                  routerLink="/participant/room/{{ room.shortId }}/survey">
            <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceWidth > 500}">thumbs_up_down</mat-icon>
            <h3 *ngIf="deviceWidth >= 320" class="button-text">{{ 'room-page.live-survey' | translate}}</h3>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <p tabindex="-1" id="live-survey-disabled" class="visually-hidden">
        {{ 'room-page.a11y-live-survey-disabled' | translate }}</p>
      <div *ngIf="room && contentGroups">
        <p tabindex="-1" id="content-groups" class="visually-hidden">
          {{ 'room-page.a11y-content-groups' | translate: {count: contentGroups.length} }}</p>
        <app-content-groups *ngFor="let contentGroup of contentGroups" [contentGroupName]="contentGroup.name"
                            [length]="contentGroup.contentIds.length" [isLoose]="false" [role]="0"></app-content-groups>
        <p tabindex="-1" id="no-content-groups" class="visually-hidden">
          {{ 'room-page.a11y-no-content-groups' | translate }}</p>
      </div>
    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="comments">{{'room-page.a11y-comments' | translate}}</div>
  <div id="live-survey">{{'room-page.a11y-live-survey' | translate}}</div>
  <div id="statistics">{{'room-page.a11y-statistics' | translate}}</div>
</div>
