<div fxLayout="column" fxFill appTheme>
  <app-header></app-header>
  <div fxFlex class="app-component" id="scroll_container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
