<div fxLayout="column">
  <app-room-join [inputA11yString]="'home-page.a11y-room-join'"></app-room-join>
  <div fxLayout="row" fxLayoutAlign="center">
    <button class="button-primary" mat-raised-button (click)="openCreateRoomDialog()" id="create-room-button">
      <mat-icon>add</mat-icon>
      {{ 'home-page.create-room' | translate }}
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
    <app-room-list [user]="user"></app-room-list>
  </div>
</div>
<div class="visually-hidden">
  <button id="user-message" tabIndex="-1" (click)="announce()">{{ 'home-page.a11y-user-message' | translate }}</button>
</div>
