<div fxLayout="column" fxLayoutAlign="center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h2>{{ 'room-page.room-loading-error' | translate }}</h2>
    <mat-icon>sentiment_dissatisfied</mat-icon>
  </div>
</div>
