<div fxLayout="column" class="container">
  <div class="heading" fxLayoutAlign="center center">
    <h1>
      <span class="main-heading-secondary" aria-hidden="true">{{ 'home-page.welcome' | translate }}</span>
      <span class="main-heading-primary">ARSnova</span>
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" fxLayoutAlign="center center" fxFill>
            <app-room-join [inputA11yString]="'home-page.a11y-welcome-message'"></app-room-join>
            <button id="new-room-button" mat-button (click)="openCreateRoomDialog()"
                    aria-labelledby="create-label">
              <mat-icon class="add">add</mat-icon>
              {{'home-page.create-room' | translate}}
            </button>
          </div>
        </div>
  </div>
</div>
<div class="visually-hidden">
  <button tabindex="-1" id="welcome-message">{{ 'home-page.a11y-welcome-message' | translate }}</button>
  <button tabindex="-1" id="key-combinations">{{ 'home-page.a11y-home-shortcuts' | translate }}</button>
  <div id="create-label">{{ 'home-page.a11y-create-room' | translate}}</div>
</div>
