<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <button id="live-announcer-button" tabIndex="-1" class="visually-hidden" (click)="announce()">
      {{ 'room-page.a11y-room-message' | translate: {room: room.name, key: room.shortId} }}</button>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf="!isLoading && room">
      <div fxLayout="row">
        <button mat-icon-button id="qr-code-button" class="corner-buttons" (click)="showQRDialog(true)" aria-labelledby="qr-code">
          <mat-icon svgIcon="qrcode" class="qr-icon">
          </mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <mat-card-header fxLayoutAlign="center" fxLayout="row">
          <mat-card-title fxLayoutAlign="center">
            {{ room.name }}
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <span class="room-short-id">
              {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <span class="fill-remaining-space"></span>
        <div fxLayout="column">
          <button tabindex="0" id="settings-button" mat-icon-button class="corner-buttons" aria-labelledby="settings"
                  routerLink="settings">
            <mat-icon class="corner-icon" matTooltip="{{ 'room-page.room-settings' | translate}}">settings</mat-icon>
          </button>
          <button mat-icon-button class="corner-buttons" [ngClass]="{'disabled': noGroups}" id="statistics-button"
                  (click)="navToStats('creator')" aria-labelledby="statistics">
            <mat-icon class="corner-icon" matTooltip="{{ 'room-page.answer-statistics' | translate}}">insert_chart
            </mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <markdown [data]="room.description.trim()"></markdown>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center">
          <mat-grid-list *ngIf="viewModuleCount > 1" cols="2" rowHeight="{{deviceWidth > 500 ? '2:1' : '3:2'}}"
                         [ngClass]="{'big-container': deviceWidth >= 500}">
            <mat-grid-tile>
              <button id="comments-button" mat-icon-button class="main-button"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/creator/room/{{ room.shortId }}/comments" aria-labelledby="comments">
                <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                          [ngClass]="{'desktop' : deviceWidth > 500}">question_answer
                </mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.comments' | translate}}</p>
              </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="moderationEnabled">
              <button id="moderation-button" mat-icon-button class="main-button"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/moderator/room/{{ room.shortId }}/moderator/comments" aria-labelledby="moderation">
                <mat-icon matBadge="{{moderatorCommentCounter}}" class="main-icon"
                          [ngClass]="{'desktop' : deviceWidth > 500}">gavel
                </mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.moderating-stream' | translate}}</p>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
          <p tabindex="-1" id="moderation-disabled" class="visually-hidden">
            {{ 'room-page.a11y-moderation-disabled' | translate }}</p>
          <div fxLayout="row" fxLayoutAlign="center" *ngIf="viewModuleCount <= 1" class="question-button-div">
            <button id="comments-button2" mat-icon-button class="main-button"
                    [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                    routerLink="/creator/room/{{ room.shortId }}/comments" aria-labelledby="comments">
              <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                        [ngClass]="{'desktop' : deviceWidth > 500}">question_answer</mat-icon>
              <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                {{ 'room-page.comments' | translate}}</p>
            </button>
          </div>
          <mat-grid-list cols="2" rowHeight="{{deviceWidth > 500 ? '2:1' : '3:2'}}"
                         [ngClass]="{'big-container': deviceWidth >= 500}">
            <mat-grid-tile>
              <button mat-icon-button class="main-button" id="content-create-button" aria-labelledby="create-content"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/creator/room/{{ room.shortId }}/create-content">
                <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceWidth > 500}">note_add</mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.create-content' | translate}}</p>
              </button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-icon-button class="main-button" id="live-survey-button" aria-labelledby="live-survey"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/creator/room/{{ room.shortId }}/survey">
                <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceWidth > 500}">thumbs_up_down
                </mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.live-survey' | translate}}</p>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
      </div>
      <div *ngIf="room && contentGroups">
        <p tabindex="-1" id="content-groups" class="visually-hidden">
          {{ 'room-page.a11y-content-groups' | translate: {count: contentGroups.length} }}</p>
        <app-content-groups *ngFor="let contentGroup of contentGroups" [contentGroupName]="contentGroup.name"
                            [length]="contentGroup.contentIds.length" [isLoose]="false" [role]="3"></app-content-groups>
        <app-content-groups *ngIf="looseContent.length > 0" [contentGroupName]="'content.loose-contents' | translate" [length]="looseContent.length"
                            [isLoose]="true" [role]="3"></app-content-groups>
        <p tabindex="-1" id="no-content-groups" class="visually-hidden">
          {{ 'room-page.a11y-no-content-groups' | translate }}</p>
      </div>

    </mat-card>
    <app-room-not-found *ngIf="!isLoading && errorOnLoading"></app-room-not-found>
  </div>
</div>

<div class="visually-hidden" *ngIf="!isLoading">
  <div id="comments">{{'room-page.a11y-comments' | translate}}</div>
  <div id="moderation">{{'room-page.a11y-moderation' | translate}}</div>
  <div id="settings">{{'room-page.a11y-settings' | translate}}</div>
  <div id="create-content">{{'room-page.a11y-create-content' | translate}}</div>
  <div id="live-survey">{{'room-page.a11y-live-survey' | translate}}</div>
  <div id="statistics">{{'room-page.a11y-statistics' | translate}}</div>
  <div id="qr-code">{{'room-page.a11y-qr-code' | translate}}</div>
</div>
