<div class="visually-hidden" tabindex="0" mat-dialog-title>
  <ng-container>{{data.section + 'a11y' | translate}}</ng-container>
</div>
<h2 tabindex="0" mat-dialog-title>{{ data.section + 'title' | translate }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div tabindex="0">
    <div [innerHTML]="data.body"></div>
  </div>
</mat-dialog-content>
<div fxLayout="row" fxLayoutAlign="end">
  <button mat-flat-button class="button-abort" attr.aria-labelledby="close" (click)="closeDialog()">
    {{ 'dialog.close' | translate}}
  </button>
</div>

<div class="visually-hidden" id="close">{{ 'dialog.a11y-close' | translate }}</div>
