.answer {
  flex: 1;
}

span {
  font-weight: 500;
  min-height: 48px;
  display: inline-flex;
  align-items: center;
  margin: 8px 0;
}

.answer-list {
  height: 100%;
  transition: 300ms;
}

.invisible > * {
  height: 0;
  opacity: 0;
}

.button-container {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mat-icon {
  color: var(--primary);
}
