<div>
  <div fxLayout="row">
    <markdown [data]="content.body"></markdown>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button disableRipple (click)="toggleAnswers()"
            matTooltip="{{ 'statistic.show-chart' | translate }}">
      <mat-icon>insert_chart</mat-icon>
    </button>
  </div>
  <div tabindex="-1" id="message-button" class="visually-hidden">
    {{ 'statistic.a11y-message-evaluation' | translate: {content: content.body} }}
  </div>
  <div class="answer-list" [ngClass]="{'invisible': !answersVisible}">
    <mat-list class="answer-list">
      <mat-list-item *ngFor="let answer of answers" tabindex="0" attr.aria-label="
              {{ 'statistic.a11y-text-evaluation' | translate:{ count: answer.count, answer: answer.answer } }}">
        <span class="answer">{{answer.answer}}</span>
        <span class="count">x {{answer.count}}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
