<ars-screen>
  <div fxLayout="column" fxLayoutAlign="center center" class="qr-container">
    <p tabindex="-1" id="qr-message" class="visually-hidden">{{ 'dialog.a11y-qr-code' | translate }}</p>
    <button mat-raised-button *ngIf="data.isCreator" class="button-secondary header copyBtn" (click)="copyShortId()"
            aria-labelledby="copy-url">
      <mat-icon>link</mat-icon>
      {{ 'dialog.copy-url' | translate}}
    </button>
    <button class="button-primary header exitBtn" mat-raised-button (click)="onCloseClick()" aria-labelledby="exit">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <h2>{{data.hostName}}</h2>
      <h2>{{'dialog.room' | translate}}: {{data.shortId.slice(0, 4)}} {{data.shortId.slice(4, 8)}}</h2>
    </div>
    <qrcode [qrdata]="data.protocol + data.hostName + path + data.shortId" [width]="qrWidth"
            [errorCorrectionLevel]="'M'"></qrcode>
  </div>
</ars-screen>
<div class="visually-hidden">
  <div id="copy-url">{{ 'dialog.a11y-copy-url' | translate}}</div>
  <div id="exit">{{ 'dialog.a11y-close' | translate}}</div>
</div>
