.mat-list-item {
  background-color: var(--background);
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  transition: 300ms;
  color: var(--on-surface);
}

.correct {
  background-color: var(--green);
  & .label {
    transition: 500ms;
    color: var(--black);
  }
}

.chart-container {
  height: 40vh;
  max-height: 500px;
  transition: all 300ms;
}

.invisible {
  height: 0;
  opacity: 0;
}

.button-container {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mat-icon {
  color: var(--primary);
  height: 32px;
  width: 32px;
  font-size: 32px;
}

.mat-card-header-text {
  margin: 0!important;
}
