.mat-card {
  width: 100%;
}

.mat-card-content > :first-child {
  height: 72px;
}

.mat-expansion-panel-header-title {
  flex-basis: 0;
  align-items: center;
  font-size: medium;
  margin-right: 5px;
}

.mat-expansion-panel-header {
  background-color: var(--table-a);
}

.matPanel {
  background-color: var(--table-a);
  margin-bottom: 5px;
  color: var(--on-surface);
}

.panelTitle {
  color: var(----on-surface);
}

.actionButton {
  width: 75%;
  height: 75%;
  margin: 5px;
  transition: all 150ms;
  color: var(--primary) !important;
  &.mat-focus-indicator {
    border-radius: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.actionIcon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}


.desktop {
  font-size: 60px;
  height: 60px;
  width: 60px;
  margin-bottom: 5%;
}

.button-text {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 3% 0;
}

.small-text {
  font-size: 16px;
}

.editButton {
  width: 15%;
  max-width: 60px;
  color: var(--primary)
}

.delete {
  color: var(--warn)
}

.mat-tooltip-component {
  position: relative;
}

.editButtons {
  margin-top: 16px;
}

.cardTitle {
  margin-left: 2%;
  width: 70%;
  height: 70px;
}

.activeInput {
  width: 100%;
  font-size: larger;
}

.inactiveInput {
  width: 0;
}

.lock {
  margin: 0 10px;
}

.slide-text {
  font-size: 16px;
}

.sort-buttons {
  margin-bottom: 16px;
}

.mat-raised-button {
  min-width: 120px;
}

.abort {
    margin-right: 16px;
}

.lock-icon {
  transition: 1s;
}

.locked {
  color: var(--primary);
}

.unlocked {
  color: var(--on-surface);
}

.content-list {
  max-width: 100%;
  min-height: 40px;
  min-width: 120px;
  display: block;
  background: var(--surface);
  border-radius: 4px;
  overflow: hidden;
}

.content-box {
  padding: 20px;
  border-bottom: solid 1px #ccc;
  color: var(--on-surface);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: var(--table-a);
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content-box:last-child {
  border: none;
}

.content-list.cdk-drop-list-dragging .content-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
