<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
            class="visually-hidden">{{ 'room-page.a11y-moderator-message' | translate: {room: room.name} }}</button>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf="room">
      <div fxLayout="row">
        <span class="fill-remaining-space"></span>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title fxLayoutAlign="center">
            {{ room.name }}
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <span class="room-short-id">
               {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
              </span>
          </mat-card-subtitle>
        </mat-card-header>
        <span class="fill-remaining-space"></span>
      </div>
      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <markdown [data]="room.description.trim()"></markdown>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <mat-grid-list cols="{{viewModuleCount}}" rowHeight="1:1" *ngIf="viewModuleCount > 1 && this.moderationEnabled">
          <mat-grid-tile>
            <button id="comments-button" mat-icon-button aria-labelledby="comments"
                    [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                    routerLink="/moderator/room/{{ room.shortId }}/comments">
              <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                        [ngClass]="{'desktop' : deviceWidth > 500}">question_answer
              </mat-icon>
              <h3 class="button-text">{{ 'room-page.public-stream' | translate}}</h3>
            </button>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="moderationEnabled">
            <button id="moderation-button" mat-icon-button aria-labelledby="moderation"
                    [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                    routerLink="/moderator/room/{{ room.shortId }}/moderator/comments">
              <mat-icon matBadge="{{moderatorCommentCounter}}" class="main-icon"
                        [ngClass]="{'desktop' : deviceWidth > 500}">gavel
              </mat-icon>
              <h3 class="button-text">{{ 'room-page.moderating-stream' | translate}}</h3>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
        <p tabindex="-1" id="moderation-disabled" class="visually-hidden">
          {{ 'room-page.a11y-moderation-disabled' | translate }}</p>
        <div fxLayout="row" fxLayoutAlign="center" *ngIf="!this.moderationEnabled" class="question-button-div">
          <button id="comments-button2" mat-icon-button aria-labelledby="comments"
                  [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                  routerLink="/moderator/room/{{ room.shortId }}/comments">
            <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                      [ngClass]="{'desktop' : deviceWidth > 500}">question_answer
            </mat-icon>
            <h3 class="button-text">{{ 'room-page.comments' | translate}}</h3>
          </button>
        </div>
      </div>
    </mat-card>

  </div>
</div>

<div class="visually-hidden">
  <div id="comments">{{'room-page.a11y-comments' | translate}}</div>
  <div id="moderation">{{'room-page.a11y-moderation' | translate}}</div>
</div>
