<div fxLayout="column" fxLayoutAlign="center" *ngIf="!isLoading">
  <div fxLayout="row" fxLayoutAlign="center">
    <app-comment [comment]="comment" [userRole]="user.role"></app-comment>
  </div>
  <button id="message-button" tabIndex="-1" (click)="announce()"
          class="visually-hidden">{{ 'comment-page.a11y-message-answer' | translate }}</button>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card class="answer" *ngIf="!isStudent || answer">
      <div tabindex="-1" id="answer-text" class="visually-hidden">{{ 'comment-page.a11y-entered-answer' | translate:
        {answer: answer} }}</div>
      <div *ngIf="(isStudent || !edit) && answer">
        <markdown [data]="answer"></markdown>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button *ngIf="!isStudent && !edit" class="button-primary" (click)="editAnswer()"
          aria-labelledby="edit">
            <mat-icon>edit</mat-icon>
            {{'comment-page.edit-answer' | translate}}
          </button>
        </div>
      </div>
      <mat-tab-group *ngIf="!isStudent && (edit || !answer)" [dynamicHeight]="true">
        <mat-tab label="{{'comment-page.your-answer' | translate}}">
          <mat-form-field class="input-block">
            <textarea id="answer-input" [(ngModel)]="answer" (input)="edit = true"
                      matInput
                      matTextareaAutosize
                      matAutosizeMinRows="3"
                      matAutosizeMaxRows="8"
                      maxlength="2000"
                      name="answer"
                      aria-labelledby="answer">
            </textarea>
            <mat-hint align="end">
            <span aria-hidden="true">
              {{ answer ? answer.length : 0 }} / 2000
            </span>
            </mat-hint>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="{{'room.preview' | translate}}" [disabled]="!answer">
          <div fxLayout="row">
            <markdown [data]="answer"></markdown>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button #mdtt="matTooltip" matTooltip="{{ 'content.md-info' | translate }}"
                    (click)="mdtt.toggle()">
              <mat-icon class="info-icon">info</mat-icon>
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
        <button mat-raised-button *ngIf="!isStudent && answer && edit" class="button-warn"
                aria-labelledby="delete" (click)="openDeleteAnswerDialog()">
          {{'comment-page.delete-answer' | translate}}</button>
        <button mat-raised-button *ngIf="!isStudent && (edit || !answer)" class="button-primary"
                aria-labelledby="submit" (click)="saveAnswer()">
          {{'comment-page.save-answer' | translate}}</button>
      </div>
    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="answer">{{ 'comment-page.a11y-enter-answer' | translate }}</div>
  <div id="delete">{{ 'comment-page.a11y-delete-answer' | translate }}</div>
  <div id="submit">{{ 'comment-page.a11y-save-answer' | translate }}</div>
  <div id="edit">{{ 'comment-page.a11y-edit-answer' | translate }}</div>
</div>
