<form (ngSubmit)="login(userActivationKey.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput #userActivationKey type="text"
           [formControl]="activationKeyFormControl" name="activation-key"
           aria-labelledby="key-input"/>
    <mat-placeholder>{{ 'user-activation.key' | translate }}</mat-placeholder>
  </mat-form-field>
</form>
<div fxLayout="row" class="register" tabindex="0">
  <p>{{ 'user-activation.didnt-get' | translate }}</p>
  <button mat-button class="reset" (click)="resetActivation(); $event.preventDefault(); $event.stopPropagation();">
    {{ 'user-activation.reset-button' | translate }}</button>
</div>
<app-dialog-action-buttons
  buttonsLabelSection="user-activation"
  confirmButtonLabel="activate"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildActivationActionCallback(userActivationKey)"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="key-input">{{ 'user-activation.a11y-key-input' | translate }}</div>
</div>
