<form (ngSubmit)="checkLogin(roomName.value)">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-form-field>
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
             (keypress)="resetEmptyInputs()" matInput #roomName class="input-block" type="text" autocomplete="off"
             maxlength="20" [(ngModel)]="longName" name="roomName" aria-labelledby="room-name-input"/>
      <mat-placeholder>{{ 'dialog.room-name' | translate }}</mat-placeholder>
      <mat-hint align="end" class="count" *ngIf="!emptyInputs"><span aria-hidden="true">{{roomName.value.length}}
        / 20</span></mat-hint>
      <mat-hint align="start" class="error" *ngIf="emptyInputs">
        <strong>{{ 'dialog.no-empty-name' | translate }}</strong></mat-hint>
    </mat-form-field>
  </div>
</form>
<app-dialog-action-buttons
  buttonsLabelSection="dialog"
  confirmButtonLabel="create-room"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildRoomCreateActionCallback(roomName)"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="room-name-input">{{ 'dialog.a11y-room-name-input' | translate }}</div>
</div>
