p {
  margin: 10px 0 10px 0;
}

.delete-icon {
  color: var(--red);
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 220px;
}

.tokens {
  &:nth-child(even) {
    background-color: var(--alt-dialog);
  }
}
