.forgot-pw {
  color: var(--on-surface);
  padding: 0 10px;
}

.register {
  padding: 0 10px;
  color: var(--secondary);
}

p {
  font-size: smaller;
}

form {
  width: 90%!important;
  max-width: 300px;
}

.mat-raised-button {
  min-width: 200px;
  margin: 5px 0;
}

.mat-card {
  width: 400px;
  padding: 40px 0;
}

.mobile {
  box-shadow: none!important;
  background-color: var(--background)!important;
}

.mat-divider {
  width: 95%!important;
  max-width: 350px!important;
  position: static!important;
  margin: 10px 0 20px 0;
}
