<div>

  <div class="header-container">
    <h2 mat-dialog-title tabindex="0" id="cookie-header">{{ 'cookies.title' | translate }}</h2>
  </div>

  <mat-dialog-content tabindex="-1">
    <div>
      <p>
        {{ 'cookies.intro' | translate }}
        {{ 'cookies.intro-privacy1' | translate }}<a [routerLink]="" (click)="showDataProtection()">{{ 'cookies.privacy-policy' | translate }}</a>{{ 'cookies.intro-privacy2' | translate }}
      </p>
      <div>
        <div class="cookie-cat" *ngFor="let category of categories"><mat-slide-toggle labelPosition="before" [(ngModel)]="category.consent" [disabled]="category.required"><div>{{ 'cookies.category-' + category.id | translate }}</div></mat-slide-toggle><div class="cookie-cat-desc">{{ 'cookies.category-' + category.id + '-desc' | translate }}</div></div>
      </div>
    </div>
    <p>
      {{ 'cookies.update-later' | translate }}
    </p>

    <app-dialog-action-buttons
      buttonsLabelSection="cookies"
      confirmButtonLabel="accept"
      [confirmButtonType]=confirmButtonType
      [cancelButtonClickAction]="buildCancelActionCallback()"
      [confirmButtonClickAction]="buildConfirmActionCallback()">
    </app-dialog-action-buttons>
  </mat-dialog-content>

  <div class="visually-hidden">
    <div id="info-label">{{'cookies.info-label' | translate }}</div>
  </div>
</div>
