.info {
  margin-bottom: 20px;
  margin-left: .3rem;
}

.info-icon {
  font-size: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.cookie-cat {
  margin-top: 10px;
  margin-bottom: 10px;

  .cookie-cat-desc {
    font-size: 95%;
  }
}
