<mat-card id="comment-card" [ngClass]="{'highlighted': comment.highlighted, '': !comment.highlighted}"
          [@slide]="slideAnimationState" (@slide.done)="changeSlideState()">
  <div id="comment-describer" tabindex="0" class="visually-hidden">{{ 'comment-page.comment' | translate: {
    time: (language === 'de' ? (comment.timestamp | date: ' HH:mm ') : (comment.timestamp | date: 'h:mm a')),
    votes: comment.score === 1 ? ('comment-page.a11y-text-textForOneVote' | translate) : comment.score + ('comment-page.a11y-text-textForVotes' | translate),
    comment: comment.body.trim(),
    correct: comment.correct === 1 ? ('comment-page.a11y-text-correct' | translate) : "",
    wrong: comment.correct === 2 ? ('comment-page.a11y-text-wrong' | translate) : "",
    bonus: comment.favorite ? ('comment-page.a11y-text-grade' | translate) : "",
    beamer: comment.read ? ('comment-page.a11y-text-read' | translate) : "",
    answer: comment.answer ? ('comment-page.a11y-text-answer' | translate) : ""} }}</div>
  <div fxLayout="column">
    <div fxLayout="row" class="comment-actions">
      <div class="date-container light">
        <div>{{comment.timestamp | dateFromNow : language}}</div>
      </div>
      <button mat-icon-button *ngIf="comment.read" [disabled]="true" (click)="setRead(comment)">
        <mat-icon svgIcon="beamer" class="beamer-icon"
                  matTooltip="{{ 'comment-page.mark-read' | translate }}">
        </mat-icon>
      </button>
      <span class="fill-remaining-space"></span>

      <button mat-icon-button *ngIf="comment.answer && !inAnswerView" (click)="answerComment()"
              tabindex="0" aria-labelledby="comment-answered">
        <mat-icon class="answered-icon" [matTooltip]="'comment-page.go-to-answer' | translate">comment
        </mat-icon>
      </button>

      <button mat-icon-button *ngIf="comment.correct === 1" [disabled]="isStudent"
              (click)="markCorrect(comment, 1)" tabindex="0"
              aria-labelledby="comment-correct">
        <mat-icon class="correct-icon" [matTooltip]="'comment-page.mark-not-correct' | translate">check_circle
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="comment.correct === 2" [disabled]="isStudent"
              (click)="markCorrect(comment, 2)" tabindex="0"
              aria-labelledby="comment-not-correct">
        <mat-icon class="wrong-icon" [matTooltip]="'comment-page.mark-not-wrong' | translate">cancel
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="comment.favorite" [disabled]="isStudent"
              (click)="setFavorite(comment)" tabindex="0" aria-labelledby="comment-grade">
        <mat-icon class="favorite-icon" [matTooltip]="'comment-page.mark-not-favorite' | translate">grade
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="(isCreator || isModerator) && !inAnswerView" [matMenuTriggerFor]="actionsMenu"
              tabindex="0" aria-labelledby="more-options">
        <mat-icon matTooltip="{{ 'comment-page.show-actions' | translate }}">more_horiz
        </mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu" xPosition="before">

        <button mat-menu-item (click)="answerComment()">
          <mat-icon class="answered-icon">comment</mat-icon>
          <span>{{ (!comment.answer ? 'comment-page.answer' : 'comment-page.go-to-answer') | translate }}</span>
        </button>

        <button mat-menu-item (click)="markCorrect(comment, 1)"
                aria-labelledby="comment-correct">
          <mat-icon class="correct-icon">check_circle</mat-icon>
          <span>{{ (comment.correct !== 1 ? 'comment-page.mark-correct' :
            'comment-page.mark-not-correct') | translate }}</span>
        </button>

        <button mat-menu-item (click)="markCorrect(comment, 2)"
                aria-labelledby="comment-not-correct">
          <mat-icon class="wrong-icon">cancel</mat-icon>
          <span>{{ (comment.correct != 2 ? 'comment-page.mark-wrong' :
            'comment-page.mark-not-wrong') | translate }}</span>
        </button>
        <button mat-menu-item (click)="setFavorite(comment)" aria-labelledby="comment-grade">
          <mat-icon class="favorite-icon">grade</mat-icon>
          <span>{{ (!comment.favorite ? 'comment-page.mark-favorite' :
            'comment-page.mark-not-favorite') | translate }}</span>
        </button>
        <button *ngIf="isCreator" mat-menu-item (click)="openDeleteCommentDialog()" aria-labelledby="comment-delete">
          <mat-icon class="delete-icon">delete</mat-icon>
          <span>{{ 'comment-page.delete' | translate }}</span>
        </button>
        <button mat-menu-item (click)="setAck(comment)" aria-labelledby="comment-moderation">
          <mat-icon class="gavel-icon">{{ comment.ack ? 'gavel' : 'lock_open' }}</mat-icon>
          <span>{{ (comment.ack ? 'comment-page.banish' : 'comment-page.reject') | translate }}</span>
        </button>

      </mat-menu>
    </div>
    <div fxLayout="row">
      <div class="body click" (click)="openPresentDialog(comment)">
        <span aria-hidden="true">{{ comment.body.trim() }}</span>
      </div>
      <span class="fill-remaining-space click" (click)="openPresentDialog(comment)"></span>
      <div fxLayout="column" *ngIf="isStudent" [ngClass]="{ '1': 'voteUp', '-1': 'voteDown', '0': 'reset'}[currentVote]">
        <button mat-icon-button (click)="vote(1)" matTooltip="{{ 'comment-page.vote-up' | translate }}"
                tabindex="0" aria-labelledby="comment-vote-up">
          <mat-icon class="voting-icon light" [ngClass]="{'upVoted' : hasVoted === 1}">keyboard_arrow_up</mat-icon>
        </button>
        <span class="score">{{comment.score}}</span>
        <button mat-icon-button (click)="vote(-1)" matTooltip="{{ 'comment-page.vote-down' | translate }}"
                tabindex="0" aria-labelledby="comment-vote-down">
          <mat-icon class="voting-icon light" [ngClass]="{'downVoted' : hasVoted === -1}">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div *ngIf="!isStudent" fxLayout="column" fxLayoutAlign="center">
        <span class="scoreCreator">{{comment.score}}</span>
      </div>

    </div>
    <div (click)="this.clickedOnTag.emit(comment.tag)" *ngIf="comment.tag && comment.tag !== ''"
         class="comment-tags light">
      <mat-chip-list>
        <mat-chip>
          {{comment.tag}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</mat-card>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div id="more-options">{{ 'comment-page.a11y-more-options' | translate }}</div>
  <div id="comment-correct">{{ (comment.correct != 1 ? 'comment-page.a11y-comment-not-marked-correct' :
    'comment-page.a11y-comment-marked-correct') | translate }}
  </div>
  <div id="comment-not-correct">{{ (comment.correct != 2 ? 'comment-page.a11y-comment-not-marked-wrong' :
    'comment-page.a11y-comment-marked-wrong') | translate }}
  </div>
  <div id="comment-grade">{{ (!comment.favorite ? 'comment-page.a11y-comment-grade' :
    'comment-page.a11y-comment-not-grade') | translate }}
  </div>
  <div id="comment-answered">{{ 'comment-page.a11y-comment-answered' | translate }}</div>
  <div id="comment-delete">{{'comment-page.a11y-comment-delete' | translate }}</div>
  <div id="comment-moderation">{{ (comment.ack ? 'comment-page.a11y-comment-banish' :
    'comment-page.a11y-comment-reject') | translate }}</div>
  <div *ngIf="isStudent" id="comment-vote-up">{{'comment-page.a11y-comment-vote-up' | translate}}</div>
  <div *ngIf="isStudent"
       id="comment-vote-down{{ comment.id }}">{{'comment-page.a11y-comment-vote-down' | translate}}</div>
</div>
