<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="start center">
  <app-stepper *ngIf="contents.length > 0" (newIndex)="updateURL($event)" [listLength]="contents.length" [completed]="">
    <cdk-step *ngFor="let content of contents; let i = index">
      <div tabindex="0" id="step">
        <mat-card>
          <app-statistic-choice *ngIf="content.format !== 'TEXT'" [content]="content" [directShow]="contentIndex === i"
                                ></app-statistic-choice>
          <app-statistic-text *ngIf="content.format === 'TEXT'" [content]="content" [directShow]="contentIndex === i">
          </app-statistic-text>
        </mat-card>
      </div>
      <div tabindex="0" class="visually-hidden">{{ 'statistics.a11y-no-more-answers' | translate }}</div>
    </cdk-step>
  </app-stepper>
</div>
