<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <form (ngSubmit)="joinRoom(roomCode.value)">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field (keyup.enter)="onEnter()">
        <input id="room-id-input" matInput #roomCode (focus)="eventService.makeFocusOnInputTrue()"
               (blur)="eventService.makeFocusOnInputFalse()"
               type="text" pattern="[0-9 ]*" inputmode="numeric" min="00000000" max="99999999"
               (keydown)="prettifyRoomCode($event)" [formControl]="roomCodeFormControl"
               [errorStateMatcher]="matcher" aria-labelledby="join-input-label" autocomplete="off"
        />
        <mat-placeholder>{{ 'home-page.room-id' | translate}}</mat-placeholder>
        <mat-error
          *ngIf="roomCodeFormControl.hasError('pattern')">{{ 'home-page.only-numbers' | translate}}</mat-error>
      </mat-form-field>
      <button mat-raised-button class="button-primary" (click)="joinRoom(roomCode.value)"
              aria-labelledby="join-button-label">
        <div fxLayoutAlign="center center" class="arrow-container"
             (mouseenter)="toggleArrowAnimation(roomCode.value, true)"
             (mouseleave)="toggleArrowAnimation(roomCode.value, false)"
             [ngClass]="{'arrow-hover-in': joinHover === true && isDesktop,
                         'arrow-hover-out': joinHover === false && isDesktop}">
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
        </div>
      </button>
    </div>
  </form>
</div>

<div class="visually-hidden">
  <div id="join-input-label">{{ inputA11yString | translate }}</div>
  <div id="join-button-label">{{ 'home-page.a11y-join-button' | translate }}</div>
</div>
