<div tabindex="-1" attr.aria-label="{{ alreadySent? ('answer.a11y-already-answered' | translate) :
  (content.multiple ? 'answer.a11y-current-multiple' : 'answer.a11y-current-single') | translate }}">
  <app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>
  <section class="card-container" *ngIf="!isLoading">
    <div class="card" [ngClass]="{'flipped': flipped}">
      <mat-card>
        <div class="side" [ngClass]="{'invisible-card-content': flipped}">
          <div fxLayout="row">
            <markdown tabindex="0" [data]="content.body"></markdown>
            <div tabindex="0" class="visually-hidden"
                 *ngIf="alreadySent">{{ hasAbstained ? ('answer.a11y-has-abstained' | translate) :
              (content.multiple ? ('answer.a11y-already-answered-multiple' | translate: {
                  allAnswers: allAnswers,
                  answers: multipleAlreadyAnswered
                }) :
                ('answer.a11y-already-answered-single' | translate: {
                  allAnswers: allAnswers,
                  answer: selectedSingleAnswer
                })) }}</div>
            <span class="fill-remaining-space"></span>
            <button id="go-to-stats" *ngIf="alreadySent" mat-icon-button (click)="goToStats()"
                    matTooltip="{{'answer.go-to-stats' | translate}}" aria-labelledby="flip-to-stats">
              <mat-icon class="stat-icon">
                insert_chart
              </mat-icon>
            </button>
          </div>
          <form (ngSubmit)="submitAnswer()" id="answerForm">
            <mat-list *ngIf="content.multiple">
              <mat-list-item *ngFor="let answer of checkedAnswers" fxLayout="column" fxLayoutAlign="center">
                <mat-checkbox [disabled]="true" *ngIf="alreadySent" [checked]="answer.checked" name="answer">
                  {{ answer.answerOption.label }}
                </mat-checkbox>
                <mat-checkbox *ngIf="!alreadySent" [(ngModel)]="answer.checked" name="answer"
                              aria-label="{{ 'answer.a11y-select-answer' | translate: {answer: answer.answerOption.label} }}">
                  {{ answer.answerOption.label }}
                </mat-checkbox>
              </mat-list-item>
              <div *ngIf="!hasAbstained && content.state.responsesVisible" class="solution invisible"
                   [ngClass]="{'visible' : alreadySent}">
                <mat-icon class="icon-indicator" [ngClass]="isCorrect ? 'correct' : 'wrong'">
                  {{isCorrect ? 'check' : 'close'}}</mat-icon>
              </div>
              <div *ngIf="hasAbstained" class="text invisible" [ngClass]="{'visible' : alreadySent}">
                <p>{{'answer.has-abstained' | translate}}</p>
              </div>
            </mat-list>
            <mat-radio-group [disabled]="alreadySent" *ngIf="!content.multiple" name="Radio">
              <mat-list>
                <mat-list-item *ngFor="let answer of checkedAnswers" fxLayout="column" fxLayoutAlign="center">
                  <mat-radio-button (change)="selectSingleAnswer(answer.answerOption.label)"
                                    aria-label="{{ 'answer.a11y-select-answer' | translate: {answer: answer.answerOption.label} }}"
                                    [checked]="answer.checked" [value]="answer.answerOption.label" name="answer">
                    {{ answer.answerOption.label }}
                  </mat-radio-button>
                </mat-list-item>
                <div *ngIf="isChoice && !hasAbstained && content.state.responsesVisible"
                     class="solution invisible" [ngClass]="{'visible' : alreadySent}">
                  <mat-icon class="icon-indicator" [ngClass]="isCorrect ? 'correct' : 'wrong'">
                    {{isCorrect ? 'check' : 'close'}}</mat-icon>
                </div>
                <div *ngIf="hasAbstained" class="text invisible"
                     [ngClass]="{'visible' : alreadySent}">
                  <p>{{'answer.has-abstained' | translate}}</p>
                </div>
                <div *ngIf="!isChoice && !hasAbstained && content.state.responsesVisible"
                     class="text invisible" [ngClass]="{'visible' : alreadySent}">
                  <p>{{'answer.has-voted' | translate}}</p>
                </div>
              </mat-list>
            </mat-radio-group>
            <div fxLayoutAlign="center" fxLayoutGap="20px" class="buttons" [ngClass]="{'disabled': alreadySent}">
              <button tabindex="{{alreadySent ? '-1' : '0'}}" mat-raised-button *ngIf="content.abstentionsAllowed"
                      class="button-abort"
                      [ngClass]="{'disabled' : alreadySent}" (click)="abstain($event)" aria-labelledby="abstain">
                {{ 'answer.abstain' | translate }}</button>
              <button tabindex="{{alreadySent ? '-1' : '0'}}" mat-raised-button class="button-primary"
                      [ngClass]="{'disabled' : alreadySent}" type="submit"
                      aria-labelledby="submit">
                {{ 'answer.submit' | translate }}</button>
            </div>
          </form>
        </div>
        <div class="back side" [ngClass]="{'invisible-card-content': !flipped}">
          <button id="go-to-content" tabindex="0" *ngIf="flipped" class="toggleSide" mat-icon-button
                  matTooltip="{{'answer.go-to-content' | translate}}" (click)="goToStats()" aria-labelledby="flip-back">
            <mat-icon class="stat-icon">
              cached
            </mat-icon>
          </button>
          <app-statistic-choice *ngIf="flipped" [content]="content" [directShow]="true"></app-statistic-choice>
        </div>
      </mat-card>
    </div>

  </section>
  <div tabindex="-1" class="visually-hidden">
    <div id="submit">{{ 'answer.a11y-submit' | translate }}</div>
    <div id="abstain">{{ 'answer.a11y-abstain' | translate }}</div>
    <div id="flip-to-stats">{{ 'answer.a11y-go-to-stats' | translate }}</div>
    <div id="flip-back">{{ 'answer.a11y-go-to-content' | translate }}</div>
  </div>
</div>
