<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <mat-form-field>
    <textarea (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" matInput
              #commentBody matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=10 maxlength="250"
              [formControl]="bodyForm" aria-labelledby="ask-question-description"></textarea>
    <mat-placeholder>{{ 'dialog.enter-comment' | translate }}</mat-placeholder>
    <mat-hint align="end"><span aria-hidden="true">{{commentBody.value.length}} / 250</span></mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="data.tags !== null && data.tags !== undefined && data.tags.length > 0">
    <mat-label aria-labelledby="category">{{ 'dialog.tag' | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedTag" class="comment-tag">
      <mat-option *ngFor="let tag of data.tags" value="{{tag}}"
                  attr.aria-label="{{ 'dialog.a11y-select-tag' | translate: { tag: tag} }}">{{tag}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<app-dialog-action-buttons
  buttonsLabelSection="dialog"
  confirmButtonLabel="send"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildCreateCommentActionCallback(commentBody)"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="ask-question-description">{{ 'dialog.create-comment-description' | translate }}</div>
  <div id="category">{{ 'dialog.a11y-tag' | translate }}</div>
</div>
