.mat-column-checked {
  display: flex;
  justify-content: flex-end;
  max-width: 30px;
}

.mat-row {
  background-color: var(--dialog);
  border-color: var(--dialog);
}

.mat-cell {
  padding: 0 8px 0 0;
}

.mat-form-field {
  width: 100%;
}
