@import 'theme/dark-theme/dark-theme';
@import 'theme/arsnova-theme/arsnova-theme';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@include mat-core();

@include angular-material-theme($arsnova-theme);

.dark {
  @include angular-material-theme($dark-theme);
}

@import 'theme/theme';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

// Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--surface);
  border-radius: 10px;
}

// States

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.disabled {
  opacity: 0.5;
}

// Headings & Texts

h1, h2, h3, h4 {
  color: var(--on-surface);
  outline: none;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 17px !important;
}

p, div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

a {
  color: var(--secondary);
}

// Inputs

input, input:focus {
  color: var(--on-surface);
  caret-color: var(--on-surface);

  &:focus {
    caret-color: var(--on-surface);
  }
}

textarea {
  line-height: 120%;
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.mat-form-field {
  color: var(--on-surface);
}

.mat-placeholder {
  color: var(--on-surface);
}

.mat-hint {
  color: var(--on-surface) !important;
}

.mat-error {
  color: var(--warn) !important;
}

markdown {
  color: var(--on-surface);
}

// Dialogs

.screenDialog {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mat-dialog-content {
  outline: none;
}

div {
  outline: none;
}

// Mat Progress Bar

.survey-progress .mat-progress-bar-fill::after {
  background-color: var(--secondary);
}

.survey-progress .mat-progress-bar-buffer {
  background-color: var(--secondary-variant);
}

.statistic-status-good .mat-progress-bar-fill::after {
  background-color: var(--green);
}

.statistic-status-good .mat-progress-bar-buffer {
  background-color: var(--green-light);
}

.statistic-status-okay .mat-progress-bar-fill::after {
  background-color: var(--yellow);
}

.statistic-status-okay .mat-progress-bar-buffer {
  background-color: var(--yellow-light);
}

.statistic-status-bad .mat-progress-bar-fill::after {
  background-color: var(--red);
}

.statistic-status-bad .mat-progress-bar-buffer {
  background-color: var(--red-light);
}

// Mat Tab

.mat-tab-header-pagination-chevron {
  border-color: var(--secondary);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: var(--secondary-variant);
  opacity: 0.5;
}

.mat-tab-label {
  padding: 0 4% !important;
  color: var(--on-surface);
  opacity: 1 !important;
}

.mat-tab-label-active {
  color: var(--on-surface);
}

.mat-ink-bar {
  background-color: var(--primary) !important;
}

// Mat Form Field

.mat-form-field-label {
  color: var(--on-surface) !important;
}

.mat-form-field-underline {
  background-color: var(--on-surface) !important;
}

.mat-form-field-ripple {
  background-color: var(--on-surface) !important;
}

.mat-form-field-disabled .mat-form-field-outline:not(.mat-form-field-outline-thick) {
  opacity: 0.2 !important;
}

.no-field-hint .mat-form-field-wrapper {
  padding-bottom: 0;
}

// Mat Radio Button

.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary) !important;
  }
  border-color: var(--on-surface)!important;
}

.mat-radio-inner-circle {
  background-color: var(--secondary) !important;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary);
}

.mat-list-item-content > .mat-radio-button > .mat-radio-label > .mat-radio-label-content {
  padding-left: 16px;
  white-space: normal;
}

.mat-radio-label-content {
  color: var(--on-surface)!important;
}

// Mat Checkbox

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--secondary);
}

.mat-checkbox-frame {
  border-color: var(--on-surface);
}

.mat-checkbox-label {
  margin-left: 10px;
  color: var(--on-surface)!important;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

// Mat Slider


.mat-accent .mat-slider-thumb {
  background-color: var(--primary);
}

.mat-accent .mat-slider-thumb-label {
  background-color: var(--primary);
}

.mat-accent .mat-slider-track-fill {
  background-color: var(--primary);
}

// Mat Slide

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--secondary);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--secondary-variant);
}

// Mat Select

.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.mat-select-arrow-wrapper .mat-select-arrow {
  color: var(--on-surface);
}

.mat-select-value-text {
  color: var(--on-surface);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary);
}

// Mat List

.mat-list-base .mat-list-item {
  min-height: 48px;
  height: auto !important;
}

// Buttons

.mat-raised-button[disabled] {
  color: var(--on-surface)!important;
  opacity: 0.6;
}

.button-primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.button-warn {
  background-color: var(--warn);
  color: var(--on-warn);
}

.button-abort {
  background-color: var(--cancel);
  color: var(--on-cancel);
}

.button-text {
  color: var(--on-surface);
  padding-left: 5px;
  font-size: 16px;
}

.info-icon {
  color: var(--secondary);
}

// Icons

.mat-icon {
  line-height: 100%!important;
}

// Card

.mat-card {
  max-width: 800px;
  color: var(--on-surface);
  background: var(--surface);
}

.card-container {
  position: relative;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  perspective: 3000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -o-transition: -o-transform 600ms;
  transition: transform 600ms;
  -webkit-transform-origin: 50% 50%;
}

.side {
  position: relative;
  transition: 400ms;
}

.card .back {
  background-color: var(--surface);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.invisible-card-content {
  height: 0;
  opacity: 0;
}

// Badge

.mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
}

// Mat expansion panel

.mat-expansion-indicator::after {
  color: var(--on-surface);
}


// Menu

.mat-menu-panel {
  background-color: var(--dialog);
}

.mat-menu-content {
  background-color: var(--dialog);
}

.mat-menu-item {
  color: var(--on-dialog);
}

.mat-menu-item .mat-icon-no-color {
  color: var(--on-dialog);
}

.mat-menu-item-submenu-trigger::after {
  color: var(--on-dialog);
}

button.mat-menu-item {
  background-color: var(--dialog);
}

button.mat-menu-item:hover {
  background-color: var(--dialog);
}
