<mat-toolbar></mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!isLoading && total >= status.zero">
  <div tabindex="0" class="visually-hidden">{{ 'statistic.a11y-group-progress' | translate:
    { group: contentGroup.name, percent: total} }}</div>
  <mat-progress-bar mode="determinate" value="{{total}}" [ngClass]="{'statistic-status-good': total >= status.good,
                            'statistic-status-okay': total < status.good && total >= status.okay,
                            'statistic-status-bad': total < status.okay && total != status.empty}"></mat-progress-bar>
  <span class="fill-remaining-space"></span>
  <span>{{total.toFixed() + ' %'}}</span>
  <span class="fill-remaining-space"></span>
</div>
<mat-toolbar *ngIf="!isLoading && total >= status.zero"></mat-toolbar>

<button mat-raised-button class="button-primary" *ngIf="total > status.empty" (click)="showDeleteAnswerDialog()"
        aria-labelledby="delete-answers">
  {{ 'content.delete-answers' | translate }}
</button>

<table mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef> {{'statistic.content' | translate}} </mat-header-cell>
    <mat-cell tabindex="0" *matCellDef="let cp" [ngClass]="{'invisible' : cp.counts <= 0, 'clickable': cp.counts > 0}"
              (click)="goToStats(cp.contentId)" attr.aria-label="{{ ('statistic.a11y-content-result' | translate: {
              content: cp.content.body, count: cp.counts, abstentions: cp.abstentions }) +
              (cp.percent >= status.zero ? ('statistic.a11y-choice-result' | translate: { percent: cp.percent }) : '') +
              ('statistic.a11y-go-to-statistic' | translate) }}" (keyup.enter)="goToStats(cp.contentId)">
      {{cp.content.body.length > 80 ? cp.content.body.substr(0, 80) + '..' : cp.content.body}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="counts">
    <mat-header-cell *matHeaderCellDef> {{'statistic.answers' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{'invisible' : cp.counts <= 0, 'clickable': cp.counts > 0}"
              (click)="goToStats(cp.contentId)">{{cp.counts}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="abstentions">
    <mat-header-cell *matHeaderCellDef> {{'statistic.abstentions' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{'invisible' : cp.counts <= 0, 'clickable': cp.counts > 0}"
              (click)="goToStats(cp.contentId)">{{cp.abstentions}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="percentage">
    <mat-header-cell *matHeaderCellDef> {{'statistic.percentage' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{'invisible' : cp.counts <= 0 && cp.counts !== status.text,
     'clickable': cp.counts > 0}" (click)="goToStats(cp.contentId)">{{cp.percent >= status.zero ? cp.percent.toFixed() +
      ' %' : cp.percent === status.likert ? '-' : cp.percent === status.text ? 'T' : ''}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<app-loading-indicator *ngIf="isLoading" [size]="50"></app-loading-indicator>

<div class="visually-hidden">
  <div id="delete-answers">{{ 'content.a11y-delete-all-answers' | translate }}</div>
</div>
