table {
  width: 100%;
}

.mat-column-content {
  min-width: 120px;
  padding-left: 12px;
  word-break: break-all;
}

.mat-column-percentage {
  display: flex;
  justify-content: center;
  padding-right: 12px;
  max-width: 80px;
}

.mat-column-counts {
  display: flex;
  justify-content: center;
  max-width: 80px;
}

.mat-column-abstentions {
  display: flex;
  justify-content: center;
  max-width: 80px;
}

.mat-header-cell {
  color: black;
  background-color: var(--grey);
}

.mat-cell {
  color: var(--on-surface);
  padding-top: 8px;
  padding-bottom: 8px;
}

.mat-toolbar {
  height: 20px;
  background-color: var(--surface);
}

.clickable {
  cursor: pointer;
}

.invisible {
  pointer-events: none;
}

.mat-progress-bar {
  height: 8px;
  width: 90%;
  max-width: calc(100vw - 110px);
}

.mat-row {
  background-color: var(--table-a);
  border-style: none;
  &:nth-child(even) {
    background-color: var(--table-b);
  }
}

.mat-raised-button {
  margin-bottom: 20px;
  margin-left: 5px;
}
