<div mat-dialog-content>
  <div tabindex="0">
    <h2>{{ 'dialog.sure' | translate }}</h2>
    <mat-divider></mat-divider>
    <p>{{ 'dialog.user-got-tokens' | translate }}</p>
  </div>
  <app-dialog-action-buttons
    buttonsLabelSection="dialog"
    confirmButtonLabel="logout"
    [cancelButtonClickAction]="buildCloseDialogActionCallback()"
    [confirmButtonClickAction]="buildLogoutActionCallback()"
  ></app-dialog-action-buttons>
</div>
