.dialog-action-buttons:not(.no-spacing), .dialog-action-buttons .buttons {
  margin-top: 1rem;
}

.dialog-action-buttons .cancel-button {
  background-color: var(--cancel);
  color: var(--on-cancel);
}

.primary-confirm-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.alert-confirm-button {
  background-color: var(--warn);
  color: var(--on-warn);
}

button {
  min-width: 100px;
}
