#commentSlider {
  width: 100%;
}

.action {
  margin: 10px 0;
  min-width: 200px;
}

.delete {
  color: var(--warn);
}

.update {
  transition: 500ms;
}

.mat-raised-button, .mat-button {
  min-width: 105px;
}

.export-icon {
  margin-right: 10px;
}

.mat-icon-button {
  cursor: inherit;
}
