footer {
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-toolbar {
  background-color: var(--background);
  height: auto;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.mat-button {
  min-height: 28px;
  font-size: 12px;
  color: var(--on-surface);
  opacity: 0.8;
}

.mat-icon {
  margin-right: 2%;
}

.color {
  font-size: 45px;
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 12px;
}

.checked {
  position: absolute;
  left: 22px;
  top: 15px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.mat-menu-item {
  height: 50px;
  padding: 5px 12px;
}

.item-title {
  line-height: 100%;
  font-weight: 500;
}

.color-title {
  height: 16px;
  font-size: 16px;
  color: var(--on-dialog);
}

.color-description {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
  color: var(--on-dialog);
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
}

.lang-title {
  height: 50px;
  font-size: 16px;
  text-align: center;
}
